.clear {clear: both}
.mar-30 {height: 1px;margin-bottom: 29px;}
header {overflow: hidden}
img {max-width: 100%;max-height: 100%}
body {min-height: 100vh;position: relative;padding-bottom: 50px;}
footer {position: absolute;bottom: 0;width: 100%;left: 0;}
.pagination {display: flex;justify-content: center;}
.pagination li {width: 30px;line-height: 30px;margin: 0 2px;}
pre {padding: 10px;background-color: #dddddd;border-radius: 5px}

.collapsible-header, .collapsible-body {border-bottom: 0}
.card .card-content {max-height: 350px;overflow: hidden}
.card-action {display: flex;align-items: center;justify-content: space-between}
.card-action a {line-height: 35px;}
.clear {clear: both}
.size1 {font-size: 1.15rem;line-height: 1.3;}
h5 select {font-size: 1.5rem;}
.inline {display: inline-block !important;width: auto !important}

span.badge.count {font-size: .8rem;min-width:2rem;}

input.search { margin: 0;height: 40px;}
h2 {margin-top: 0}
.content {overflow: hidden;background-color: #f0f0f0;padding: 10px;}
.text-nowrap {white-space: nowrap}